html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#Top, #Contents {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  overflow: hidden;
}

#MainView {
  top: 0%;
  left: 25%;
  height: 70%;
  width: 50%;
  position: absolute;
  background-color: #c88989;
  svg {
    width: 100%;
    height: 100%;
  }
}

#FileView {
  top: 0%;
  height: 70%;
  width: 25%;
  position: absolute;
  background-color: #83d0cb;
}

#FxView {
  top: 0%;
  left: 75%;
  height: 70%;
  width: 25%;
  position: absolute;
  background-color: #a2d083;
}


#Timeline {
  top: 70%;
  height: 30%;
  width: 100%;
  position: absolute;
  background-color: #b9b1b1;

  #KeyTimeline {
    display: inline-flex;
    height: 100%;
    width: 30%;
    background-color: #b9b1b1;
  }

  #ValueTimeline {
    display: inline-flex;
    height: 100%;
    width: 70%;
    background-color: #504e4e;
  }
}
